.tableListForm .ant-form-item {
    margin-bottom: 24px;
    margin-right: 0;
    display: flex;
}

.tableListForm .ant-form-item .ant-form-item-label {
    width: auto;
    line-height: 32px;
    padding-right: 8px;
}

.tableListForm .ant-form-item .ant-form-item-control {
    line-height: 32px;
}

.tableListForm .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
}

.tableListForm .ant-form-item-control-wrapper {
    flex: 1;
}
